loki:
  enabled: true
  isDefault: true
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  singleBinary:
    replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi
  limits_config:
    retention_period: 168h

promtail:
  enabled: true
  config:
    lokiAddress: http://loki:3100/loki/api/v1/push
    snippets:
      extraRelabelConfigs:
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_label_app
          target_label: app
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_label_type
          target_label: type
        - action: replace
          source_labels:
            - __meta_kubernetes_namespace
          target_label: namespace
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_name
          target_label: pod

grafana:
  enabled: true
  sidecar:
    datasources:
      enabled: false
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          url: http://loki:3100
          access: proxy
          isDefault: true