apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cowrie-logs-domain-controller
  labels:
    app: honeypot
    type: domain-controller
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 5Gi