apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cowrie-logs-web-server
  labels:
    app: honeypot
    type: web-server
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 5Gi