apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cowrie-logs-edge-router
  labels:
    app: honeypot
    type: edge-router
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 5Gi